:root {
  --region-islands-primary:#D71E44;
  --region-islands-secondary:#9E1B34;
  --region-islay-primary: #A5238E;
  --region-islay-secondary: #6E2671;
  --region-highland-primary: #563494;
  --region-highland-secondary: #322773;
  --region-lowland-primary: #0663AE;
  --region-lowland-secondary: #174272;
  --region-speyside-primary: #1AB467;
  --region-speyside-secondary: #007B46;
  --region-campbeltown-primary: #946E2A;
  --region-campbeltown-secondary: #3F3114;
}
